/* CSS default style */

p {
  font-size: 12px;
  font-family: helvetica, sans-serif;
}

h1 {
  border-bottom: 1px solid black;
  font-color: blue;
}

h2 {
  border-bottom: 1px solid grey;
  text-align: center;
}

h4 {
  font-family: helvetica; 
}

.Homelink {
  float: right;
  font-family: helvetica;
  font-size: 13px;
}

.form {
  
}

input {
    border: 1px solid grey; 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
